#pragma once

#define WIFI_SSID ""
#define WIFI_PASSWORD ""

#define CAYENNE_USERNAME "76074CF8-D873-45AF-B0AF-491F0D085478"
#define CAYENNE_PASSWORD "qwerty"
#define CAYENNE_CLIENT_ID "C406ECB1-5981-41C7-A649-B3D5F24A9BCE"
